.title {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.text {
  font-family: 'Roboto', sans-serif;
  color: white;
}

li, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(200, 200, 150);
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 21px;
  color: black;
  text-decoration: none;
  box-shadow: 0px 2px 10px rgba(0,0,0,50%);
  cursor: pointer;
  padding: 9px 25px;
  background-color: rgb(200, 200, 150);
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
}

button:hover {
  transform: scale(1.06);
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(97, 87, 87);
  margin: 0;
  flex-wrap: wrap;
}

.kirjainp {
  width: 50px;
  height: 50px;
  cursor: pointer;
  
}

.nav-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav {
  list-style: none;
}

.nav li {
  display: inline-block;
  padding: 1px 20px;
}

.nav li a {
  transition: all 0.3s ease 0s;
}

.nav li a:hover {
  color: rgb(0, 0, 0);
}

.hakubaari {
  display: inline-block;
  align-items: center;
  margin-left: 50px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 5px;
}

.search-bar input {
  border: none;
  background: none;
  margin-left: 0px;
  color: white;
  outline: none;
}

.search-bar:hover {
  transform: scale(1.03);
  box-shadow: 0px 2px 10px rgba(0,0,0,50%);
}

body {
  margin: auto;
  padding: 0;
  max-width: 80%;
  background-color: rgb(124, 88, 88);
}

h4 {
  color: white;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.footer-links li {
  margin-right: 60px;
}

.footer-info {
  text-align: right;
}
